<div>
    <div class="jumbotron text-center">
        <h1>ToDo APP</h1>
        <p>Powered by Vue & Bootstrap!</p>
    </div>
    <div class="container">
        <div class="row">
            <task-form @added="addTask" />
        </div>
        <div class="row" style="padding-top: 20px">
            <ul class="list-group">
                <li class="list-group-item" v-for="task in tasklist"><font-awesome-icon icon="trash-alt" style="color:red" @click="deleteTask(task)" />&nbsp;&nbsp;&nbsp;<input type="checkbox" @click="updateTask(task)" :checked="task.Status"> {{ task.Description }}</li>
            </ul>
        </div>
    </div>
    </div>
